.beautiful-flower-container{
    background: rgba(229, 84, 115, 0.10);
    width: 100%;
    height: 500px;
    display: flex;
    text-align: center;
  
}

.for-written-part{
    max-width: 500px;
    margin: auto;
    text-align: left;
   color: #272727;
}

.title{

    font-size: 60px;
    font-weight: 800;
    margin-bottom: -5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.title-one{ 
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.image-resize{
    height: 450px;
    width: 300px;
    padding: 50px 30px ;
  
}

.primary-button{
    color: #FFF;
font-size: 20px;
font-weight: 700;
background-color: palevioletred;
border: none;
padding: 10px;
}

/* featured part  */

.feature-container{
    margin: auto;
}
.image-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
  
}

.img-size-one{  width: 260px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 120px 50px 0px 50px;
}

.img-size-two{
    width: 260px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
    padding: 120px 50px 0px 50px;
}

.img-size-three{
    width: 260px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 120px 50px 0px 50px;
}
.writtng-part{
    text-align: center;
    margin-bottom: 120px;
}
.pink{
    text-decoration: underline;
}

/* logo part 
 */

 .logo-container{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px 180px ;
    border-radius: 5px;
    background: rgba(39, 39, 39, 0.05);
    padding: 50px;


 }

 .hot-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    gap: 100px;
    padding: 30px;
 }

 /* insta part  */
 .insta-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
   
 }
 .insta-img-resize{
    width: 250px;
    height: 250px;
    border-radius: 5px;
 }
 .insta-des{
    margin-top: 120px;
    text-align: center;
    margin-bottom: 80px;
 }

 /* get part  */
 .btn-subs{
    display: flex;
    justify-content: center;
    gap: 5px;
    
 }
 .get-container{
    text-align: center;
    background-image: url('Rectangle\ 9.png');
    padding: 50px;
    margin: 100px 210px;
 }


 .for-textarea{
    padding: 10px;
 }



 /* extra-part  */

 .extra-part-container{
    display: flex;
    background: rgba(229, 84, 115, 0.05);
    
    padding: 0px;
    margin-bottom: 100px;
    margin-top:200px ;
    height: 50vh;
    gap: 150px;
    align-items: center;
    justify-content: center;
    width: 100%;
     
 }
 .extra-img-resize{
    width: 400px;
    height: 300px;

 }

 /* footer part  */

footer{
    text-align: center;
    background: #111010;
    color: #FFF;
    padding: 50px;
}


.word-color{
    color: #E55473;

}